@import './variable.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  font-family: "Source Code Pro", monospace;
  color: var(--whiteColor) !important;
  overflow-x: hidden;
  background-color: #000000;
}

.container {
  max-width: 1050px;
}

.footer {
  background: linear-gradient(180deg, #000000 0%, #213944 100%);
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.footer p{
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 16px;
}

.dropdown-menu{
  left: auto !important;
  right: 0;
}